.title {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}

.container {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0% auto;
}

.sub-title {
    font-size: 18px;
    padding: 15px 0;
}

.input-box input {
    margin-right: 10px;
}