<div class="container">
  <div class="title py-4">
    To Do List
  </div>

  <div class="input-box form-group d-flex">
      <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" />
      <input type="text" class="form-control" placeholder="Description" [(ngModel)]="description" />
      <button class="btn btn-info" (click)="add()">Add</button>
  </div>

  <div>
    <div class="sub-title">
      Scheduled:
    </div>
    <div>
      <div *ngFor="let element of items; let i = index">
        <div *ngIf="!element.done">
          <app-todo-item
            [item]="element"
            (deleteAtIndex)="delete(i)"
            (completeAtIndex)="complete(i)"
          ></app-todo-item>
        </div>
      </div>
    </div>

    <div *ngIf="isDone">
      <div class="sub-title">
        Completed:
      </div>
      <div>
        <div *ngFor="let element of items; let i = index">
          <div *ngIf="element.done">
            <app-todo-item
              [item]="element"
              (deleteAtIndex)="delete(i)"
            ></app-todo-item>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
