<div class="d-flex flex-column flex-md-row">
  <div class="flex-1">
    {{ item.title }}
  </div>

  <div class="flex-2">
    {{ item.description }}
  </div>

  <button
    class="btn btn-success mr-3"
    (click)="completeButton()"
    *ngIf="!item.done"
  >
    Completed
  </button>
  <button class="btn btn-outline-danger" (click)="deleteButton()">
    Delete
  </button>
</div>
